@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Artesanias Mombacho</h1>
    <p class="lead">Artesanias Mombacho es una tienda en donde nosotros ofrecemos a nuestra clientela diferentes articulos
    hechos a mano por distintos artesanos reconocidos en el pais.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mision</h2>
        <p>
            Ofrecer a los clientes, nacionales o extranjeros, diferentes productos artesanos hechos en Nicaragua,
            ademas llevar a cabo un lapso de amistad entre vendedor-cliente y promover la vision de nuestro pais
            mediante la belleza de nuestros productos trasmitiendo lo cultural del pais.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>Ser una tienda que tenga los precios accesibles y tambien ser una tienda reconocida a nivel Nacional</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>>En esta tienda se encontrara diferentes artefactos como jarrones, pinturas, llaveros e incluso
        instrumentos como las marimbas asi tambien como distinto accesorios, entre otros.</p>
        <p>Esto es de HaxorFox :D</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>